/* 
color pallete

Cameo #d7b29d
Cocoa Brown #201818
Stiletto #913040
Alpine #bd9332

*/


/* GLOBAL STYLES
-----------------------------------------------*/
/*
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
 */
 html{
    box-sizing: border-box;
 }
 *, *:before, *:after {
    box-sizing:inherit;
 }

 html, body{
    height: 100%;
 }

body {
    background: #f1eae6;
    margin: 0;
} 

/* links */

a {
    color: #997966;
}

a:hover {
    color:#5f202a;
}

footer a {
    color: #913040;
}

footer a:hover {
    color: #d7b29d;
}

.btn {
    background: #201818; 
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    width: 900px;
}


/* HOME
-----------------------------------------------*/  

.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
   flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}


/* RESUME
-----------------------------------------------*/

.resume header::before {
    background: url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #201818; 
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}


/* Profile
-----------------------------------------------*/

.project-item {
    display: flow-root;
    margin: 30px 0;

}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}


/* Projects
-----------------------------------------------*/


/* Work Experience
-----------------------------------------------*/

.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}


/* Education
-----------------------------------------------*/


/* FOOTER
-----------------------------------------------*/

footer {
    background: #201818;
    color:antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials li{
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}