
html {
   box-sizing: border-box;
   font-size: 62.5%; 
}

body{
    background-color: rgb(173,216,230);
}

h1 {
    margin:auto;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

p {
    margin:auto;
    padding: 20px;
    border: 5px;
    font-size: 20px;
}